@import "mixins","font-face";

$base-size:         18px;
$base-lineheight:   1.5;
$base-style:        normal;
$container-width:   800px;

$serif:            'MercuryG1';
$sans:             'Gotham';
$sans-narrow:      'GothamNarrow';
$sans-xnarrow:     'GothamXNarrow';
$sans-condensed:   'GothamCondensed';
$sans-rounded:     'GothamRounded';
$logo:             'Knockout';

$light:     300;
$book:      400;
$medium:    500;
$semi-bold: 600;
$bold:      700;

$bg-color:   #F5F6F6;
$text-color: #424242;
$yellow:     #FFAA5C;
$pink:       #DA727E;
$purple:     #685C79;
$blue:       #455C7B;
$teal:      #80C8B5;
$green: #4DB788;
$red:        #8E2800;

/* BASE */
* {box-sizing: border-box;}

html, body {
    font-style:     $base-style;
    font-weight:    $book;
    font-family:    $serif;
    font-size:      $base-size;
    line-height:    $base-lineheight;
    color:          $text-color;
    background:     $bg-color;
    width:          100%;
    height:         100%;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    background-color: rgba($bg-color,0.95);
    min-height: 100vh;
    padding: 0 3rem;
}

/* TYPOGRAPHY */
h1, h2, h3 {
    font-family: $sans;
    font-weight: $bold;
}

h4, h5, h6 {
    font-family: $sans-narrow;
    font-weight: $semi-bold;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.3; }


h1     { font-size: 300%; }
h2     { font-size: 225%; }
h3     { font-size: 180%; }
h4     { font-size: 180%; }
h5     { font-size: 150%; }
h6     { font-size: 130%; }

p,ol,ul { 
    margin-bottom: 1rem; 
    font-size: 100%;
}

ol     { list-style: decimal;}
ul     { list-style: square;}
li     { margin: 0.75rem 0 0.75rem 1rem;}

input, button, select, label, textarea {
    font-family: $serif;
    font-weight: $book;
    font-size: 100%;
    color: $text-color;
}

.logo {
    font-family: $logo;
    letter-spacing: normal;
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

strong { font-weight: 500; }
em     { font-style: italic; }
.error { color: $red; display: block;}

/* STRUCTURE */
input, select, button, textarea {
    outline: none;
    background: transparent;
    border: none;
    border-color: $text-color;
    border-radius: 2px;
    padding: 0.1rem 0.25rem;
    color: black;
}

input:not([type='checkbox']) { 
    border-bottom: 1px solid; 
    border-radius: 1px; 
}

textarea {
    border: 1px solid;
    resize: none;
}
select { border: 1px solid; }
button { border: 1px solid; }

a,button,nav li { cursor: pointer; }

button:hover, button.active {
    background:   $teal;
    color:        $bg-color; 
    border-color: $teal;
}