html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FLEXBOX */
/* ARCHER */
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM */
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM NARROW */
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM XNARROW */
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-100.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-100i.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-200.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-200i.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-700i.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-800.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-800i.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-900.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-900i.otf");
  font-weight: 900;
  font-style: italic;
}
/* GOTHAM CONDENSED */
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* GOTHAM ROUNDED */
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* KNOCKOUT */
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* MERCURY G1 */
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* MERCURY G4 */
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* BASE */
* {
  box-sizing: border-box;
}

html, body {
  font-style: normal;
  font-weight: 400;
  font-family: "MercuryG1";
  font-size: 18px;
  line-height: 1.5;
  color: #2d3033;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham";
  font-weight: 600;
  line-height: 1.2;
  color: #222;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 180%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 130%;
}

p, ol, ul {
  margin: 0 0 1rem 0;
  font-size: 100%;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

li {
  margin-left: 2.5rem;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

.error {
  color: #d7431b;
  display: block;
}

/* STRUCTURE */
input, select, button, label, textarea {
  font-family: "GothamNarrow";
  font-weight: 400;
  font-size: 90%;
  color: #2d3033;
  outline: none;
  background: transparent;
  border-radius: 2px;
  padding: 0.25rem;
}

input, select, textarea {
  border: 1px solid #a5a6a7;
}

textarea {
  font-family: "MercuryG1";
}

button {
  background: #31a480;
  color: #f7f7f7;
  font-family: "Gotham";
  border: none;
  border-radius: 100px;
  transition: 0.5s all;
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 1px 0px;
  padding: 0.6rem 1.2rem;
}
button:hover {
  background: #29896b;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:active, input:focus, input.active, textarea:active, textarea:focus, textarea.active, select:active, select:focus, select.active {
  border-color: #396fa2;
}

textarea {
  resize: none;
}

a, button {
  cursor: pointer;
}

a {
  color: #31a480;
  font-style: italic;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #1a5543;
}

#selection_buttons {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  background: white;
}
#selection_buttons button {
  flex: 0 1 130px;
  font-size: 0.7rem;
  color: #f7f7f7;
  margin: 0 2rem;
  font-weight: 500;
  font-family: "GothamNarrow";
  text-transform: uppercase;
}
#selection_buttons button.encounterBtn {
  background: #31a480;
}
#selection_buttons button.encounterBtn:hover {
  background: #29896b;
}
#selection_buttons button.creatureBtn {
  background: #b24626;
}
#selection_buttons button.creatureBtn:hover {
  background: #953a20;
}
#selection_buttons button.playerBtn {
  background: #d7a627;
}
#selection_buttons button.playerBtn:hover {
  background: #b98f22;
}

#selection_panels {
  max-height: 40vh;
}
#selection_panels .panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  background: #2d3033;
}
#selection_panels h5 {
  color: #f7f7f7;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
#selection_panels input, #selection_panels a, #selection_panels button, #selection_panels li {
  text-align: center;
  width: 100%;
  color: #2d3033;
}
#selection_panels .searchbox {
  max-width: 400px;
  margin: 0 auto;
  height: 35px;
}
#selection_panels ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: auto;
  max-height: 30vh;
  margin: 0;
}
#selection_panels li {
  margin: 0.41667%;
  padding: 0.41667%;
  flex: 1 0 15.83333%;
  max-width: 15.83333%;
  display: inline-block;
  overflow: hidden;
  list-style: none;
  border-radius: 3px;
  height: 80px;
  background: white;
  box-shadow: black 0px 1px 1px 0px;
}
#selection_panels li a {
  font-style: normal;
  text-decoration: none;
  color: #2d3033;
}
#selection_panels li h5, #selection_panels li p {
  margin: 0;
}
#selection_panels li h5 {
  font-size: 1rem;
  font-family: "GothamXNarrow";
  font-weight: 500;
  color: #2d3033;
}
#selection_panels li p {
  font-size: 0.7rem;
  font-family: "GothamXNarrow";
  font-weight: 400;
}
#selection_panels li.encounterCard:hover, #selection_panels li.encounterCard .active {
  background: #4d89c1;
}
#selection_panels .new_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 0;
}
#selection_panels .open, #selection_panels .close {
  flex: 1 0 auto;
}
#selection_panels .open {
  width: 100%;
  height: 100%;
}
#selection_panels .open button {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  font-size: 3rem;
}
#selection_panels .close input {
  width: 80%;
}
#selection_panels .close button {
  width: 40px;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  line-height: 0.25;
  font-size: 1.5rem;
  font-weight: 700;
  background: #b24626;
}
#selection_panels .close button:hover {
  background: #953a20;
}

#selection_display {
  overflow: hidden;
}

.encounter, .player {
  width: 80%;
  min-height: 94%;
  margin: 2% auto 0 auto;
  background: white;
  border-radius: 3px;
  padding: 1rem;
}

.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}
.player .player_name, .player .player_statblock, .player .player_basic {
  width: 100%;
  text-align: center;
}
.player .player_name {
  font-size: 2rem;
  font-family: "Gotham";
  font-weight: 500;
}
.player .stat {
  margin: 0.27778%;
  padding: 0.27778%;
  flex: 1 0 10.55556%;
  max-width: 10.55556%;
  display: inline-block;
  margin: 1rem 0;
}
.player .stat label, .player .stat input {
  display: block;
  text-align: center;
  width: 100%;
  font-family: "GothamXNarrow";
}
.player .stat label {
  margin: 0;
  padding: 0.15rem;
  line-height: 1;
  font-weight: 300;
}
.player .stat input {
  font-family: "MercuryG1";
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}
.player .player_basic {
  height: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.player .player_basic textarea, .player .player_basic .stat {
  margin: 1.25%;
  padding: 1.25%;
  flex: 1 0 47.5%;
  max-width: 47.5%;
  display: inline-block;
  height: 100%;
}
.player .player_basic textarea {
  border: 1px solid #2d3033;
}
.player .player_basic input {
  height: 100%;
  font-size: 7rem;
}

.creature_ability {
  border: 1px solid;
}
