@import "reset","base";

// USER PAGE
#user_page {
    width: 100%;
}

#selection_panels {
    @include flex-parent();
    border: none;
    padding-bottom: 20px;
    border-bottom: 3px solid $text-color;
    height: 55vh;

    h5, input, a, button, li { 
        text-align: center;
        width: 100%;
    }

    .panel {
        @include flex-child(3, grow, 0.025);
        @include flex-parent();
        height: 50vh;
        overflow: hidden;
    }

    .searchbox, .new_item { 
        @include flex-child(1); 
        @include flex-parent(row,wrap,center);
        overflow: hidden;
        height: 35px;
    }

    .searchbox {
        border: 1px solid rgba($text-color, 0.5);
        border-radius: 3px;
        &:focus { border: 2px solid darken($blue,10%); }
    }

    button { 
        width: 30px; height: 30px;
        border-radius: 50%;
        font-weight: $semi-bold;
        font-size: 1.3rem;
        line-height: 0;
        &:hover {color: $green;}
        &.red { 
            background: $red; border-color: $red; 
            &:hover {color: $red; background: $bg-color;}
        }
    }

    .close {
        width: 100%;
        @include flex-parent();
        input, form { height: 30px;}
        form { height: 30px; width: 70%; margin: 0 auto; display: inline-block; }
    }

    ol {
        @include flex-parent();
        width: 100%;
        height: 25vh;
        overflow: auto;
    }

    li {
        @include flex-child(2);
        overflow: hidden;
        list-style: none;
        border: 1px solid $text-color;
        border-radius: 3px;

        a { 
            font-style: normal;
            text-decoration: none;
            color: $text-color;
        }
        h5,p { margin: 0; }
        h5 {font-size: 1rem; font-family: $sans-xnarrow; font-weight: $medium; }
        p { font-size: 0.7rem; font-family: $sans-xnarrow; font-weight: $book; }
    }

}

#selection_display {
    background: $bg-color;
    height: 45vh;
    overflow: auto;
}

// ENCOUNTER
.encounter, .player {
    width: 100%;
    height: 100%;
}

.player {
    @include flex-parent();
    padding-top: 2rem;

    .player_name, .player_statblock, .player_basic {
        width: 100%;
        text-align: center;
    }

    .player_name {
        font-size: 2rem;
        font-family: $sans;
        font-weight: 500;
    }

    .stat {
        @include flex-child(9);
        margin: 1rem 0;

        label,input { 
            display: block;
            text-align: center;
            width: 100%;
            font-family: $sans-xnarrow;
        }

        label {
            margin: 0;
            padding: 0.15rem;
            line-height: 1;
            font-weight: $light;
        }

        input {
            font-family: $serif;
            font-weight: $bold;
            font-size: 1.5rem;
            padding: 0;
        }
    }

    .player_basic {
        height: 25vh;
        @include flex-parent();

        textarea, .stat { @include flex-child(2); height: 100%; }
        textarea { border: 1px solid $text-color; }
        input { height: 100%; font-size: 7rem; }
    }

}




.creature_ability {
    border: 1px solid;
}