@import "reset","base";

// USER PAGE
#user_page {
    padding: 0.5rem;
    height: 100vh;
    width: 100%;
}

#selection_panels {
    @include flex-parent();
    box-shadow: 0px 1px 1px 0px rgba(black, 1);
    border: none;
    box-shadow: none;
    height: 35vh;
    padding-bottom: 20px;
    border-bottom: 3px solid $text-color;

    h5, input, a, button, li { 
        text-align: center;
        color: $text-color;
        width: 100%;
    }

    ol {
        overflow: auto;
        height: 100%;
        @include flex-child(3, grow, 0.025);
        @include flex-parent();
    }

    li {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 3px;
        min-height: 35px;
    }

    li:first-of-type {
        margin: 0.5rem 0;
    }

    li:not(:first-child):not(:nth-child(3)) {
        border: 1px solid rgba($text-color,0.5);
        @include flex-child(2);
        @include flex-parent();

        h5 { font-size: 1rem; }
        p { 
            font-size: 0.8rem; 
            font-family: $sans-xnarrow; 
            font-weight: $book;
            margin: 0;
        }
    }

    a {
        font-style: normal;
        text-decoration: none;
        font-family: $sans-narrow;
    }

    button {
        color: $bg-color;
        font-weight: $bold;
        font-size: 1.2rem;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        &:hover { color: $green; }
    }

    input,form,button { display: inline-block; }
    .new_item { 
        width: 50%;
        margin-left: 30px;
        input { width: 100%; }
    }

    .searchbox {
        width: 80%;
        margin-left: 10%;
        border: 1px solid $text-color;
        border-radius: 3px;
        margin-bottom: 0.25rem;
    }

}

#selection_display {
    background: $bg-color;
    height: 60vh;
    overflow: auto;
}

// ENCOUNTER
.encounter, .player {
    width: 100%;
    height: 100%;
}

.player {
    @include flex-parent();
    padding-top: 2rem;

    .player_name, .player_statblock, .player_basic {
        width: 100%;
        text-align: center;
    }

    .player_name {
        font-size: 2rem;
        font-family: $sans;
        font-weight: 500;
    }

    .stat {
        @include flex-child(9);
        margin: 1rem 0;

        label,input { 
            display: block;
            text-align: center;
            width: 100%;
            font-family: $sans-xnarrow;
        }

        label {
            margin: 0;
            padding: 0.15rem;
            line-height: 1;
            font-weight: $light;
        }

        input {
            font-family: $serif;
            font-weight: $bold;
            font-size: 1.5rem;
            padding: 0;
        }
    }

    .player_basic {
        height: 25vh;
        @include flex-parent();

        textarea, .stat { @include flex-child(2); height: 100%; }
        textarea { border: 1px solid $text-color; }
        input { height: 100%; font-size: 7rem; }
    }

}




.creature_ability {
    border: 1px solid;
}