html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FLEXBOX */
/* ARCHER */
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("../font/Archer/Archer-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM */
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham/Gotham-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM NARROW */
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../font/GothamNarrow/GothamNarrow-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* GOTHAM XNARROW */
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-100.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-100i.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-200.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-200i.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-600.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-600i.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-700i.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-800.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-800i.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-900.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamXNarrow";
  src: url("../font/GothamXNarrow/GothamXNarrow-900i.otf");
  font-weight: 900;
  font-style: italic;
}
/* GOTHAM CONDENSED */
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamCondensed";
  src: url("../font/GothamCondensed/GothamCondensed-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* GOTHAM ROUNDED */
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-300.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-300i.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-400i.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-500i.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-700.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../font/GothamRounded/GothamRounded-700i.otf");
  font-weight: 700;
  font-style: italic;
}
/* KNOCKOUT */
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Knockout";
  src: url("../font/Knockout/Knockout-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* MERCURY G1 */
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG1";
  src: url("../font/MercuryG1/MercuryG1-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* MERCURY G4 */
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-400.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-500.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MercuryG4";
  src: url("../font/MercuryG4/MercuryG4-700.otf");
  font-weight: 700;
  font-style: normal;
}
/* BASE */
* {
  box-sizing: border-box;
}

html, body {
  font-style: normal;
  font-weight: 400;
  font-family: "MercuryG1";
  font-size: 18px;
  line-height: 1.5;
  color: #2d3033;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham";
  font-weight: 600;
  line-height: 1.2;
  color: #222;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 180%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 130%;
}

p, ol, ul {
  margin: 0 0 1rem 0;
  font-size: 100%;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

li {
  margin-left: 2.5rem;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

.error {
  color: #d7431b;
  display: block;
}

/* STRUCTURE */
input, select, button, textarea, a {
  transition: 0.4s all;
}

input, select, button, label, textarea {
  font-family: "GothamNarrow";
  font-weight: 400;
  font-size: 90%;
  color: #2d3033;
  outline: none;
  background: transparent;
  border-radius: 2px;
}

button {
  background: #278998;
  color: #f7f7f7;
  font-family: "Gotham";
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
  padding: 0.5rem 1rem;
}
button:hover {
  background: #206f7c;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea, select {
  border: 1px solid #a5a6a7;
  font-family: "MercuryG1";
}
textarea:active, textarea:focus, textarea.active, select:active, select:focus, select.active {
  border-color: #396fa2;
}

input, select {
  border: none;
  border-bottom: 1px solid #a5a6a7;
  border-radius: 1px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.4s 0.4s ease;
  opacity: 0;
}

textarea {
  resize: none;
}

a, button {
  cursor: pointer;
}

a {
  color: #278998;
  font-style: italic;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #124047;
}

body {
  background: #2d3033;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: rgba(247, 247, 247, 0.3);
  border-radius: 200px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 200px;
}

#selection_buttons {
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  background: white;
  margin-bottom: 3px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.8);
}
#selection_buttons button {
  flex: 0 1 130px;
  font-size: 0.7rem;
  color: #f7f7f7;
  margin: 0 2rem;
  font-weight: 500;
  font-family: "GothamNarrow";
  text-transform: uppercase;
}
#selection_buttons button.encounterBtn {
  background: #278998;
}
#selection_buttons button.encounterBtn:hover {
  background: #206f7c;
}
#selection_buttons button.creatureBtn {
  background: #b24626;
}
#selection_buttons button.creatureBtn:hover {
  background: #953a20;
}
#selection_buttons button.playerBtn {
  background: #d7a627;
}
#selection_buttons button.playerBtn:hover {
  background: #b98f22;
}
@media (max-width: 749px) {
  #selection_buttons button {
    margin: 0 0.5rem;
  }
}
@media (max-width: 500px) {
  #selection_buttons button {
    max-width: 80px;
    padding: 0.4rem 0;
    font-size: 0.6rem;
  }
}

#selection_panels {
  width: 50%;
  height: 90vh;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 0.5rem;
}
#selection_panels .panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#selection_panels .panel_header {
  flex: 0 1 auto;
  color: #f7f7f7;
  text-align: center;
  min-height: 30px;
}
#selection_panels .searchbox {
  flex: 0 1 auto;
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
  min-height: 30px;
  height: auto;
  width: 90%;
  border: 1px solid #585a5b;
  max-width: 400px;
  align-self: center;
}
#selection_panels ol {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
#selection_panels li {
  border-radius: 3px;
  list-style: none;
  height: 90px;
  background: white;
  box-shadow: 0px 1px 1px 0px black;
  transition: 0.3s all;
  cursor: pointer;
}
@media (min-width: 1201px) {
  #selection_panels li {
    margin: 0.83333%;
    padding: 0.83333%;
    flex: 1 0 31.66667%;
    max-width: 31.66667%;
    display: inline-block;
  }
}
@media (max-width: 1200px) {
  #selection_panels li {
    margin: 1.25%;
    padding: 1.25%;
    flex: 1 0 47.5%;
    max-width: 47.5%;
    display: inline-block;
  }
}
@media (max-width: 749px) {
  #selection_panels li {
    margin: 2.5%;
    padding: 2.5%;
    flex: 1 0 95%;
    max-width: 95%;
    display: inline-block;
  }
}
#selection_panels li h5, #selection_panels li p {
  margin: 0;
  text-align: center;
}
#selection_panels li h5 {
  font-size: 1rem;
}
#selection_panels li p {
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
}
#selection_panels li .draggable {
  height: 100%;
}
#selection_panels li.encounterCard:hover, #selection_panels li.encounterCard.active {
  background: #7bd0dd;
}
#selection_panels li.creatureCard:hover, #selection_panels li.creatureCard.active {
  background: #e6a08b;
}
#selection_panels li.playerCard:hover, #selection_panels li.playerCard.active {
  background: #efdba8;
}
#selection_panels li #newEncBtn, #selection_panels li #newEncInput {
  background: #278998;
}
#selection_panels li #newCreBtn, #selection_panels li #newCreInput {
  background: #b24626;
}
#selection_panels li #newPlaBtn, #selection_panels li #newPlaInput {
  background: #d7a627;
}
#selection_panels .new_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 0;
}
#selection_panels .new_item button:hover {
  color: #f7f7f7;
}
#selection_panels .open, #selection_panels .close {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
#selection_panels .open button, #selection_panels .close button {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border-radius: 3px;
}
#selection_panels .close form, #selection_panels input {
  width: 100%;
  height: 100%;
  color: #f7f7f7;
  font-size: 1.2rem;
  border: none;
  text-align: center;
}

#selection_display {
  overflow: hidden;
  background: #2d3033;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 90vh;
  padding-right: 0.5rem;
}

.encounter, .player, .creature {
  margin: 2.5%;
  padding: 2.5%;
  flex: 1 0 95%;
  max-width: 95%;
  display: inline-block;
  padding: 0.5rem;
  background: white;
  border-radius: 3px;
  overflow: auto;
}
.encounter label, .encounter input, .player label, .player input, .creature label, .creature input {
  display: block;
  text-align: center;
  width: 100%;
  font-family: "GothamXNarrow";
}
.encounter label, .player label, .creature label {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  font-size: 0.7rem;
}
.encounter input, .player input, .creature input {
  font-family: "MercuryG1";
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.encounter textarea, .encounter select, .player textarea, .player select, .creature textarea, .creature select {
  font-size: 0.7rem;
}
.encounter .name, .player .name, .creature .name {
  flex: 0 1 auto;
  font-size: 2rem;
  font-family: "Gotham";
  font-weight: 600;
  font-family: "GothamNarrow";
  padding: 0.25rem;
}

.statblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
}
.statblock .stat {
  margin: 0.3125%;
  padding: 0.3125%;
  flex: 1 0 11.875%;
  max-width: 11.875%;
  display: inline-block;
}
@media (max-width: 749px) {
  .statblock .stat {
    margin: 0.625%;
    padding: 0.625%;
    flex: 1 0 23.75%;
    max-width: 23.75%;
    display: inline-block;
  }
}

.player {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.player .player_notes {
  flex: 1 0 auto;
  margin-top: 1rem;
}

.creature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.creature .name {
  flex: 0 1 auto;
}
.creature .creature_basic {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.creature .creature_basic .exp {
  margin: 0.5%;
  padding: 0.5%;
  flex: 1 0 49%;
  max-width: 49%;
  display: inline-block;
}
.creature .creature_basic .hp {
  margin: 0.25%;
  padding: 0.25%;
  flex: 1 0 24.5%;
  max-width: 24.5%;
  display: inline-block;
}
.creature .statblock {
  flex: 0 1 auto;
}
.creature .creature_misc {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
}
.creature .creature_misc .loot, .creature .creature_misc .notes {
  margin: 0.5%;
  padding: 0.5%;
  flex: 1 0 49%;
  max-width: 49%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.creature .creature_misc .loot label, .creature .creature_misc .loot textarea, .creature .creature_misc .notes label, .creature .creature_misc .notes textarea {
  margin: 0%;
  padding: 0%;
  flex: 1 0 100%;
  max-width: 100%;
  display: inline-block;
}
.creature .creature_misc .loot label, .creature .creature_misc .notes label {
  margin-bottom: 0.25rem;
}
.creature .creature_misc .loot textarea, .creature .creature_misc .notes textarea {
  padding: 0.25rem;
}

.creature_abilities {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.creature_abilities .creature_ability, .creature_abilities .new_item {
  margin: 1.25%;
  padding: 1.25%;
  flex: 1 0 47.5%;
  max-width: 47.5%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #2d3033;
  overflow: hidden;
}
@media (max-width: 749px) {
  .creature_abilities .creature_ability, .creature_abilities .new_item {
    margin: 2.5%;
    padding: 2.5%;
    flex: 1 0 95%;
    max-width: 95%;
    display: inline-block;
  }
}
.creature_abilities .creature_ability .ability_name, .creature_abilities .new_item .ability_name {
  font-family: "GothamNarrow";
  font-weight: 500;
}
.creature_abilities .creature_ability .ability_name, .creature_abilities .new_item .ability_name, .creature_abilities .creature_ability .ability_description, .creature_abilities .new_item .ability_description {
  margin: 2.5%;
  padding: 2.5%;
  flex: 1 0 95%;
  max-width: 95%;
  display: inline-block;
}
.creature_abilities .creature_ability textarea, .creature_abilities .new_item textarea {
  width: 100%;
  margin: 0;
  height: 40px;
}
.creature_abilities .creature_ability input, .creature_abilities .new_item input, .creature_abilities .creature_ability select, .creature_abilities .new_item select, .creature_abilities .creature_ability label, .creature_abilities .new_item label {
  width: 100%;
  margin: 0;
}
.creature_abilities .ability_stat {
  margin: 1.25%;
  padding: 1.25%;
  flex: 1 0 47.5%;
  max-width: 47.5%;
  display: inline-block;
}
.creature_abilities .ability_stat input {
  height: 1.3rem;
  font-size: 1rem;
}
.creature_abilities .new_item {
  padding: 0;
}
.creature_abilities .new_item .showHide, .creature_abilities .new_item button {
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
.creature_abilities .new_item form, .creature_abilities .new_item input {
  height: 100%;
  background: #278998;
  color: #f7f7f7;
}

.encounter {
  position: relative;
}
.encounter h3, .encounter h5 {
  text-align: center;
}
.encounter table {
  font-size: 0.8rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.encounter thead {
  border-bottom: 3px solid #2d3033;
  font-family: "GothamNarrow";
  font-weight: 500;
}
.encounter tbody {
  padding: 0;
  text-align: center;
}
.encounter tbody td {
  padding: 0 0.5rem;
  font-family: "GothamXNarrow";
  border: 1px solid #d8d9da;
}
.encounter input {
  font-size: 0.8rem;
  font-family: "GothamXNarrow";
}
.encounter .enc_table_name {
  width: 50%;
}
.encounter input {
  margin: 0;
}
.encounter button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
}
.encounter.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #2d3033;
}
